<h4>Search for your ideal training partner here</h4>
<br>

<div>
  <%@users.each do |user| %>
    <div class="grid x">
      <div class="athlete-profile small-3 cell">
        <img src=<%= user.profile %> alt="profile picture" width="250" height="250"/>
        <p><%= user.firstname %> <%= user.lastname %> - <%= user.sex %></p>
        <p><%= user.city %>, <%= user.state %></p>
      </div>
    </div>
  <% end %>
</div>
