<!DOCTYPE html>
<html>
<head>
  <title>Kiburi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

  <%= csrf_meta_tags %>
</head>
<body>

  <div data-sticky-container>
    <div class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%"s>
      <div class="top-bar-left">
        <ul class="menu simple">
          <li class="logo"><img src="/images/kiburilogo.png" alt="site logo" width="45" height="45"></li>
          <li class="menu-text kiburi"> <%= link_to 'Kiburi', homes_path %></li>
          <li class="lime"><a href="/homes#how-it-works">How It Works</a></li>
          <%- if logged_in? -%>
          <li class="lime"> <%= link_to 'Browse Profiles', users_path %></li>
          <%- end -%>
        </ul>
      </div>

      <div class="top-bar-right">
        <ul class="menu">
          <%- if logged_in? -%>
            <li class="lime"><%= link_to 'Your Profile', user_path(current_user) %></li>
            <li class="lime"><%= link_to 'Sign Out', logout_path %></li>
          <%- else -%>
            <li class="lime"><%= link_to 'Sign In', "/auth/strava" %></li>
          <%- end -%>
        </ul>
      </div>
    </div>
  </div>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
</body>
<footer>
  <div class="footer grid-x">
    <div class="logo large-4 text-center cell">
      <img src="/images/kiburilogo.png" alt="site logo" width="45" height="45">
      <h5 class="menu-text kiburi"> <%= link_to 'Kiburi', homes_path %></h5>
      <p>Brought to you from Cincinnati, OH</p>
    </div>
  </div>
</footer>
</html>
